.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Eichel-header {
  background-color: #002654;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(35px + 2vmin);
}

.Title-text-left {
  color: #FCB514;
  float: left;
  margin: 0 .5em;
  font-size: 2em;
  font-weight: 700;
}

.Title-text-right {
  color: #FCB514;
  float: right;
  margin: 0 .5em;
  font-size: 2em;
  font-weight: 700;
}

.App-footer {
  background-color: #002654;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FCB514;
}

.App-link {
  color: #61dafb;
}

.Physical-stats {
  align-content: center;
  text-align: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.Physical-stats-col {
  align-content: center;
  text-align: center;
  margin: 0 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
